{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "airbnb",
        "airbnb-typescript"
    ],
    "rules": {
        "react/jsx-filename-extension": [1,
            {
                "extensions": [
                    ".tsx"
                ]
            }
        ]
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".ts", ".tsx"],
                "moduleDirectory": ["src", "node_modules"]
            }
        }
    }
}