.App {
  display: flex;
  justify-content: center;

  .main-container {
    padding: 24px 0;
    max-width: 1000px;
    display: flex;
    flex-direction: column;

    .actions {
      text-align: end;
      width: 100%;
      padding: 24px 0;
    }

    .historical-expenses {
      text-align: left;
      height: 500px;
      overflow-y: scroll;

      td:not(:first-child),
      th:not(:first-child) {
        padding: 8px 24px;
      }

      thead {
        th {
          text-align: left;
          position: sticky;
          top: 0px;
          background-color: rgb(32, 33, 36);
        }
      }

      tr {
        td {
          cursor: pointer;
        }

        td:not(:first-child) {
          padding: 8px 24px;
        }

        &:hover td {
          background-color: #27282b;
        }
      }
    }

    .balance-chart {
      width: 1000px;
    }
  }
}
