.App {
  display: flex;
  justify-content: center;

  .main-container {
    padding: 24px 0;
    max-width: 1000px;

    .actions {
      display: flex;
      gap: 24px;
    }

    .historical-expenses {
      padding: 24px 0;
      text-align: left;

      td:not(:first-child),
      th:not(:first-child) {
        padding: 8px 24px;
      }

      thead {
        th {
          text-align: left;
        }
      }

      tr {
        cursor: pointer;

        td:not(:first-child) {
          padding: 8px 24px;
        }

        &:hover td {
          background-color: #27282b;
        }
      }
    }
  }
}
